<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <header>
        <result forceReloadCheck="true">
            <nodeCombiner config-class="org.apache.commons.configuration.tree.OverrideCombiner" />
            <expressionEngine
                config-class="org.apache.commons.configuration.tree.xpath.XPathExpressionEngine" />
        </result>
    </header>
    <!-- <env /> -->
    <!-- <system /> -->
    <override>
        <xml fileName="../app.xml">
            <reloadingStrategy refreshDelay="500"
                config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" />
        </xml>
        <xml fileName="app-default.xml" throwExceptionOnMissing="true" />
    </override>
</configuration>