<?xml version="1.0" encoding="UTF-8"?>
<config>
    <log>
        <updateTrigger>1</updateTrigger>
    </log>
    <databases>
        <database>
            <name>cassandra</name>
            <seeds>127.0.0.1:9160</seeds>
            <poolSize>4</poolSize>
            <discovery>NONE</discovery>
            <keyspace>lasagna</keyspace>
            <cluster>Lasagna Cluster</cluster>
            <consistency>ONE</consistency>
        </database>
    </databases>
</config>