log
temp
bin/*
build
build/*
target
target/*
!some_bin/bin

.project
.classpath

.gradle
.gradle/*
.nb-gradle
.nb-gradle/*
nb-build.xml
nbproject
nbproject/*
.settings
.settings/*

__Backlog__
__Backlog__/*
production/solr/output
production/solr/output/*

log-folder_IS_UNDEFINED
log-folder_IS_UNDEFINED/*
.sass-cache
.sass-cache/*
.jruby
.jruby/*
test-output
test-output/*

