<div class="homeContainer">
	<div class="homeGalary opaque homeGalary-main ">
		<nav class="navbar" role="navigation">
		    <ul class="nav navbar-nav polaroid-images">
		        <li><a class="slide1" href="" title="New Arrivals"><img height="200" src="images/products/images2.jpg" alt="New Arrivals" title="New Arrivals" /></a></li>
		        <li><a class="slide2" href="" title="Handmade Jewelry"><img height="200" src="images/products/DSC00761.JPG" alt="Handmade Jewelry" title="Handmade Jewelry" /></a></li>
		        <li><a class="slide3" href="" title="Antique & Vintage"><img height="200" src="images/products/images4.jpg" alt="Antique & Vintage" title="Antique & Vintage" /></a></li>
		    </ul>
		</nav>
		<nav class="navbar" role="navigation">
		    <ul class="nav navbar-nav polaroid-images">
		        <li><a class="slide4" href="" title="Market findings"><img height="200" src="images/products/DSC00751.JPG" alt="Market findings" title="Market findings" /></a></li>
		        <li><a class="slide5" href="" title="Sales & specials"><img height="200" src="images/products/images6.jpg" alt="Sales & specials" title="Sales & specials" /></a></li>
		        <li><a class="slide6" href="" title="About Us"><img height="200" src="images/products/images7.jpg" alt="About Us" title="About Us" /></a></li>
		    </ul>
		</nav>
	</div>
	<div class="homeGalary homeGalary-template">
		<nav class="navbar" role="navigation">
		    <ul class="nav navbar-nav polaroid-images">
		        <li><a class="slide1" href="" title="New Arrivals"><img height="200" src="images/products/images2.jpg" alt="New Arrivals" title="New Arrivals" /></a></li>
		        <li><a class="slide2" href="" title="Handmade Jewelry"><img height="200" src="images/products/DSC00761.JPG" alt="Handmade Jewelry" title="Handmade Jewelry" /></a></li>
		        <li><a class="slide3" href="" title="Antique & Vintage"><img height="200" src="images/products/images4.jpg" alt="Antique & Vintage" title="Antique & Vintage" /></a></li>
		    </ul>
		</nav>
		<nav class="navbar" role="navigation">
		    <ul class="nav navbar-nav polaroid-images">
		        <li><a class="slide4" href="" title="Market findings"><img height="200" src="images/products/DSC00751.JPG" alt="Market findings" title="Market findings" /></a></li>
		        <li><a class="slide5" href="" title="Sales & specials"><img height="200" src="images/products/images6.jpg" alt="Sales & specials" title="Sales & specials" /></a></li>
		        <li><a class="slide6" href="" title="About Us"><img height="200" src="images/products/images7.jpg" alt="About Us" title="About Us" /></a></li>
		    </ul>
		</nav>
	</div>	
</div>